*{
	padding: 0;
	margin: 0;
}

body{
	font-family: Tahoma;
	background-image: url(../img/bg.png);
}
li{	
	display: inline-block;
	text-align: center;
}
.sheet{
	position: relative;
	margin: 38px auto;
	background-color: white;
	height: 1000px;
	width: 1000px;
	box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.75);
}
.head{
	height: 165px;
	color: #128aa7;
	margin-bottom: 10px;
}
.left{
	padding: 10px 0 0 25px;
}
.left p{
	position: absolute;
	top: 110px;
	left:65px;
}
.right{
	font-size: 10pt;
	float:right;
	margin: 20px 20px 0 0;
}

.right ul{
	padding: 20px 5px 0 0;
}
.contacts{
	padding-left: 175px;
}

.menu{	
	border: 1px solid black;	
	position: relative;
}
.menu p{
	color: white;
}
.menu ul{
	height: 30px;
	background-color: #323232;
}
.button{
	padding: 5px 15px;
	margin-right: 20px;
	cursor: pointer;
	z-index: 2;

}
.first{
	margin-left: 5px;
}
.active_menu{
	position: absolute;
	left: 136px;
	top: 31px;
	display: none;
}
.button_active{
	display: block;
	padding-top: 5px;	
	background-color: #303030;
	height: 25px;
	width: 150px;
}
ul li:hover ul {
	display: block;
}






.content{
	height: 545px;
}
.news_bg{
	width: 100%;
	position: relative;
	float: left;
	right: 20%;
	background-color: grey;
}
.content_bg{
	width: 100%;
	position: relative;
	float: left;
	right: 60%;
	background-color: red;
}
.inf_bg{
	width: 100%;
	position: relative;
	float: left;
	color: blue;
}
.news{
	width: 20%;
	position: relative;
	float: left;
	overflow: hidden;
}
.content{
	width: 80%;
	position: relative;
	float: left;
	overflow: hidden;
}
.inf{
	width: 20%;
	position: relative;
	float: left;
	overflow: hidden;
}