*{
	margin: 0;
	padding: 0;
}
@font-face {
    font-family:OpenSans;
    src: url(../fonts/OpenSans.ttf); 
   }
li{
	list-style: none;
}
.body{
    	background-color: #f9f9f9;
   
    	font-family: OpenSans;   
}
.ramki{
	margin: 0 20%;
	height: 960px;
	width: 1094px;
    	-webkit-box-shadow: 0px 0px 28px 1px rgba(181,170,181,1);
    	background-color: white;
}
.head{
	padding: 40px 0 40px 40px;
}
.up_menu{
	height: 40px;
	margin: 0 40px 40px 40px;
	background: linear-gradient(to top, #454444, #5e5e5e);
	-webkit-box-shadow: 0px 0px 1px 1px rgba(181,170,181,1);
}
.up_menu li{
	display: inline-block;
	color: white;
	line-height: 40px;
	font-size: 15px;
}
.up_button{
	padding: 0 15px 0 15px;
	margin: 0 20px 0 20px;
	cursor: pointer;
}
.up_menu li:hover{
	background: linear-gradient(to top, #2f2f2f, #4a4a4a);
	-webkit-box-shadow: 0px 0px 1px 1px rgba(181,170,181,1);
}
.centr{
float:right;
font-size: 14px;
}
.centr img{
	padding: 70px 90px 45px 90px;
	-webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
	margin-right: 40px;
}
.centr p{
	width: 680px;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.left_menu{
	font-size: 15px;
}
.left_menu li{
	margin-left: 40px;
	width: 240px;
}
.left_button{
	height: 40px;
	line-height: 40px;
	border: 1px groove #c8c8c8;
	border-bottom: none;
	padding-left: 25px;
	cursor: pointer;
}
.l_bline{
	border-bottom: 1px groove #c8c8c8;
}
.left_button:hover{
	background-color: #ede6e6;
	padding-left: 35px;
	width: 230px;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.footer{
	margin: 90px 40px 0 40px;
	background-color: #e1e1e1;
	font-size: 15px;
}
.footer li{
		line-height: 40px;
		display: inline-block;
}
.footer_button{
	height: 40px;
	padding: 0 15px 0 15px;
	margin: 0 20px 0 20px;
	cursor: pointer;
}
.footer_button:hover{
	background-color: #d3d1d1;
}
.button_right{
	height: 40px;
	padding: 0 15px 0 250px;
	margin: 0 20px 0 20px;
	cursor: default;
	font-weight: bold;
}
.button_first{
	padding-left: 35px;
	margin-left: 0px;
}